<% var title = "Login" %> 
<% include ../layouts/head %>

<h1 class="full-form-title">Login</h1>

<form action="/sessions/create" method="post" class="group">
	<input type="hidden" name="_csrf" value="<%= token %>" />
	<p class="group email">
		<label for="email">Email:</label>
		<input type="email" name="email" placeholder="yourname@something.upenn.edu" value="<%= email ? email : '' %>" />
	</p>
	<p class="group password">
		<label for="password" class="password">Password:</label>
		<input type="password" name="password" class="password" />
	</p>
	<button type="submit">Login</button>
</form>
<p class="text-right">Or <a href="/register">Make an account</a></p>

<% include ../layouts/foot %>