/*
Title: Screen Styles
Author: max@luzuriaga.com
*/

/* ---------------------------------------------------------------------------------------
   Reset
   --------------------------------------------------------------------------------------- */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; font: inherit; vertical-align: baseline; text-decoration: none; }
:focus { outline: 0; }
body { line-height: 1; color: black; background: white; }
nav ul { list-style: none; }
ul { list-style-type: square; }
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }
blockquote:before, q:before, { content: '"'; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }
html { -webkit-font-smoothing: antialiased; }
pre { white-space: pre; white-space: pre-wrap; white-space: pre-line; word-wrap: break-word; }
input, select { vertical-align: middle; }
textarea { overflow: auto; }
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
button, input, select, textarea { margin: 0; }
time { display: block; }

/* ---------------------------------------------------------------------------------------
   Main
   --------------------------------------------------------------------------------------- */

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 0.875em;
	background-color: #fcfcfc;
	color: #1b1b1b;
	padding-top: 83px;
}
a {
	text-decoration: none;
}

html body a.link-button {
	display: inline-block;
	font-weight: bold;
	color: #fff;
	padding: 10px;
}

#main {
	padding: 20px 0;
}

#main h1 {
	font-weight: bold;
	font-size: 1.5em;
	margin-bottom: 10px;
	line-height: 1.3em;
}
#main p {
	line-height: 1.5em;
}
#main p em {
	font-style: italic;
}
#main p strong {
	font-weight: bold;
}

.new-post-title {
	padding-left: 16.2%;
}

.static-form-box {
	display: block;
	font-size: .875em;
	float: right;
	width: 70%;
	padding: 1.5%;
	height: 16px;
	border: 1px solid #d0f3d5;
	background: #eafbed;
}

label.category {
	margin-top: 0;
}
select {
	width: 73.5%;
	float: right;
	padding: 1.5%;
	height: 28px;
	border-radius: 0;
	border: 1px solid #bbb;
	background: #fff;
}
input[type=text], input[type=email], input[type=password], textarea {
	border: 0;
	float: right;
	width: 70%;
	height: 16px;
	padding: 1.5%;
	background: #f3f3f3;
	color: #1b1b1b;
	border: 1px solid #ddd;
	-webkit-appearance: none;
	border-radius: 0;
}
input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, textarea:focus {
	background: #fcfcfc;
}
label {
	padding-top: 1.5%;
	margin-top: 1px;
	text-align: right;
	float: left;
	width: 25%;
	clear: both;
}
textarea {
	height: 150px;
	resize: vertical;
	line-height: 1.5em;
}
input[type=submit] {
	float: right;
	border: none;
	color: #fff;
	background: #01256e;
	padding: 8px 12px;
	font-size: 1em;
	border-radius: 0;
	cursor: pointer;
	margin-top: 5px;
	-webkit-appearance: none;
}

input.title {
	font-weight: bold;
	font-size: 1em;
}

form p.error:before {
	color: #de0000;
	height: 14px;
	font-size: .875em;
	margin-bottom: 5px;
	width: 72.8285714%;
	float: right;
	text-align: center;
}
form p.error input, form p.error textarea {
	border: 1px solid #de0000;
}

form.contactForm p.error:before {
	width: 100%;
	float: none;
}

form p.error.email:before {
	content: "Please enter a valid University email.";
}
form p.error.title:before {
	content: "Please enter a title.";
}
form p.error.text:before {
	content: "Please enter some text";
}

.full-form-title {
	padding-left: 27%;
}

#main form {
	margin-bottom: 20px;
}

#main form p {
	padding: 5px 0;
	line-height: 1em;
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1024;
	padding: 20px 0;
}
header h1 {
	font-size: 3em;
	float: left;
}
header p {
	float: right;
	margin-top: 4px;
	font-weight: bold;
}
header p a {
	font-weight: normal;
}
header p .link-button {
	margin-left: 10px;
}

.middle {
	width: 700px;
	margin: 0 auto;
}
#main ol, .categories-list ul {
	list-style-type: none;
}

.categories-list {
	position: fixed;
	float: left;
	/*width: 91px;*/
	width: 133px;
	border: 1px solid #ddd;
	/*border-bottom: 0;*/
	/*padding: 21px;*/
	/*background: green;*/
}

.categories-list ul {
	width: 100%;
}

.categories-list ul li {
	width: 72.1%;
	padding: 9% 14%;
	border-bottom: 1px solid #ddd;
}
.categories-list ul a:last-child li, .categories-list ul > li:last-child {
	border-bottom: 0;
}
.categories-list li.current {
	color: #1b1b1b;
	background: #f1f1f1;
	font-weight: bold;
}
.categories-list ul a:hover li {
	background: #f1f1f1;
}
.categories-list ul a li {
	color: #95001a;
}

.posts-list {
	width: 77%;
	float: right;
}

li.post {
	margin-bottom: 13px;
	padding-top: 13px;
	border-top: 1px solid #ddd;
	line-height: 1.7em;
}
ol li.post:first-child {
	border-top: none;
	padding-top: 0;
}

li.post time {
	float: left;
	display: block;
	width: 50px;
	height: 100%;
}
li.post p.title {
	font-weight: bold;
	color: #1b1b1b;
	width: 75%;
}
time, li.post a:visited p.title, label {
	color: #696969;
}
li.post a:visited  time {
	color: #8f8f8f;
}

li.post a.category-link {
	display: block;
	float: right;
	color: #95001a;
}

#more_posts_marker {
	text-align: center;
	font-style: italic;
}

.group > form.leftForm {
	float: left;
	width: 62%;
}
.side_text {
	width: 35%;
	float: right;
	margin-bottom: 10px;
}
.side_text p {
	margin-bottom: 10px;
}

article.post a.post-category {
	float: left;
	display: block;
	margin-right: 6px;
	border: 1px solid #ddd;
	background: #f1f1f1;
	color: #95001a;
	padding: 6px;
}

article.post p {
	margin-bottom: 14px;
}
article.post p.post-time {
	float: right;
	margin-top: 3px;
	margin-bottom: 2px;
}

.contact-form-explanation {
	padding-top: 15px;
	border-top: 1px solid #b9b9b9;
	margin-bottom: 10px;
}
.successful-email {
	color: #009f0f;
}

#additional-post-ui form.contactForm textarea {
	width: 97%;
}
#additional-post-ui form.contactForm label {
	width: 10.5%;
}
#additional-post-ui form.contactForm input[type=email], #additional-post-ui form.contactForm .static-form-box {
	width: 85.5%;
}

nav.pagination a {
	background: #01256e;
	padding: 4px 6px;
	margin-right: 2px;
	color: #fff;
	font-size: .875em;
}
nav.pagination .current {
	background: #fff;
	border: 3px solid #01256e;
	color: #01256e;
	font-weight: bold;
}
nav.pagination {
	text-align: center;
}
nav.pagination span.elipsis {
	font-size: 1.2em;
}

.confirm-signup-text {
	margin-bottom: 15px;
}

/* ---------------------------------------------------------------------------------------
   School colors
   --------------------------------------------------------------------------------------- */

/* 
	PENN:
	Red: #95001a
	Blue: #01256e
	Off-white: #f1f1f1	*/
.penn header {
	background: #01256e;
}
.penn header h1 a {
	color: #f1f1f1;
	font-family: Georgia, "Times New Roman", Times, serif;
}
body.penn {
	background: #f9fbff;
}
.penn .link-button {
	background: #95001a;
}
.penn p a {
	color: #01256e;
}
.penn header p {
	color: #f1f1f1;
}
.penn header p a.login-out {
	color: #e5f8ff;
}

/* 
	BROWN:
	Brown: #54301a
	Red: #CC0000
	Off-white: #fffdfa	*/
.brown header {
	background: #54301a;
}
.brown header h1 a {
	color: #fffdfa;
	font-family: "Minion Pro", Georgia, "Times New Roman", Times, serif;
	text-transform: uppercase;
}
body.brown {
	background: #fffaf5;
}
.brown .link-button {
	background: #CC0000;
}

/* ---------------------------------------------------------------------------------------
   Etc.
   --------------------------------------------------------------------------------------- */

.text-right {
	text-align: right;
}

.group:before, .group:after {
	content: "\0020";
	display: block;
	height: 0;
	overflow: hidden;
}
.group:after { clear: both; }
.group { zoom: 1; }
img, object, embed {
	max-width: 100%;
}

@media screen and (max-width: 875px) {
	.middle {
		width: 80%;
	}

	.categories-list {
		position: static;
		width: 100%;
		/*padding: 5%;*/
		float: none;
		margin-bottom: 20px;
	}
	.categories-list ul li {
		width: 90%;
		padding: 5%;
	}
	.posts-list {
		width: 100%;
		float: none;
	}
}

@media screen and (max-width: 500px) {
	header h1 {
		font-size: 1.8em;
		text-align: center;
		float: none;
	}
	header p {
		text-align: center;
		float: none;
		margin-top: 10px;
	}

	article.post a.post-category {
		float: none;
		display: inline-block;
		margin-bottom: 10px;
	}

	.group > form.leftForm {
		float: none;
		width: 100%;
	}
	.side_text {
		width: 100%;
		float: none;
	}

	form label {
		float: none;
		text-align: left;
		margin-bottom: 6px;
		margin-top: 0;
		display: block;
	}

	.full-form-title {
		padding-left: 5px;
	}

	input[type=text], input[type=email], #additional-post-ui form.contactForm input[type=email], #additional-post-ui .static-form-box, input[type=password], .static-form-box, textarea {
		width: 95%;
		padding: 2.5%;
		float: none;
	}

	select {
		width: 100%;
		float: none;
	}

	.new-post-title {
		padding-left: 0%;
	}
	form p.error:before {
		width: 100%;
		float: none;
		text-align: center;
	}
}