/*
Title: Screen Styles
Author: max@luzuriaga.com
*/

/* ---------------------------------------------------------------------------------------
   Reset
   --------------------------------------------------------------------------------------- */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; font: inherit; vertical-align: baseline; text-decoration: none; }
:focus { outline: 0; }
body { line-height: 1; color: black; background: white; }
nav ul { list-style: none; }
ul { list-style-type: square; }
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }
blockquote:before, q:before, { content: '"'; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }
html { -webkit-font-smoothing: antialiased; }
pre { white-space: pre; white-space: pre-wrap; white-space: pre-line; word-wrap: break-word; }
input, select { vertical-align: middle; }
textarea { overflow: auto; }
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
button, input, select, textarea { margin: 0; }
time { display: block; }

/* ---------------------------------------------------------------------------------------
   Main
   --------------------------------------------------------------------------------------- */

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 0.875em;
	background-color: #fcfcfc;
}
a {
	text-decoration: none;
}

header {
	padding: 20px 0;
}

.middle {
	width: 65%;
	margin: 0 auto;
}

#main {
	margin-top: 5px;
}

#main ol {
	list-style-type: none;
}

a li.post {
	margin-bottom: 13px;
	padding-top: 13px;
	border-top: 1px solid #b9b9b9;
	line-height: 1.7em;
}
ol a:first-child li.post {
	border-top: none;
}

li.post time {
	float: left;
	display: block;
	width: 50px;
	height: 100%;
	color: #696969;
}
li.post p.title {
	font-weight: bold;
	color: #1b1b1b;
}
a:visited li.post p.title {
	color: #696969;
}
a:visited li.post time {
	color: #8f8f8f;
}

/* ---------------------------------------------------------------------------------------
   Header
   --------------------------------------------------------------------------------------- */

header h1 {
	font-size: 3em;
}

/* 
	PENN:
	Red: #95001a
	Blue: #01256e
	Off-white: #f1f1f1	*/
header.penn {
	background: #01256e;
}

header.penn h1 {
	color: #f1f1f1;
	font-family: Georgia, "Times New Roman", Times, serif;
}

/* 
	BROWN:
	Brown: #54301a
	Red: #CC0000
	Off-white: #fffdfa	*/
header.brown {
	background: #54301a;
}

header.brown h1 {
	color: #fffdfa;
	font-family: "Minion Pro", Georgia, "Times New Roman", Times, serif;
	text-transform: uppercase;
}

/* ---------------------------------------------------------------------------------------
   Etc.
   --------------------------------------------------------------------------------------- */
   
.group:before, .group:after {
	content: "\0020";
	display: block;
	height: 0;
	overflow: hidden;
}
.group:after { clear: both; }
.group { zoom: 1; }
img, object, embed {
	max-width: 100%;
}
::-moz-selection {
	background: #FFF;
	color: #444;
	text-shadow: none;
}
::selection {
	background: #FFF;
	color: #444;
	text-shadow: none;
}