/*
Title: Screen Styles
Author: max@luzuriaga.com
*/

/* ---------------------------------------------------------------------------------------
   Reset
   --------------------------------------------------------------------------------------- */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; font: inherit; vertical-align: baseline; text-decoration: none; }
:focus { outline: 0; }
body { line-height: 1; color: black; background: white; }
nav ul { list-style: none; }
ul { list-style-type: square; }
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }
blockquote:before, q:before { content: '"'; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }
html { -webkit-font-smoothing: antialiased; }
pre { white-space: pre; white-space: pre-wrap; white-space: pre-line; word-wrap: break-word; }
input, select { vertical-align: middle; }
textarea { overflow: auto; }
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
button, input, select, textarea { margin: 0; }
time { display: block; }

/* ---------------------------------------------------------------------------------------
   Main
   --------------------------------------------------------------------------------------- */

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 0.875em;
	background-color: #fcfcfc;
	color: #1b1b1b;
	padding-top: 109px;
}
a {
	text-decoration: none;
}

ol, ul {
	list-style-type: none;
}

#main {
	padding: 20px 0;
}

.middle {
	width: 700px;
	margin: 0 auto;
}

#main h1 {
	font-weight: bold;
	font-size: 1.7em;
	margin-bottom: 10px;
	line-height: 1.3em;
}
body p {
	line-height: 1.6em;
}
body em {
	font-style: italic;
}
body strong {
	font-weight: bold;
}
body p code {
	white-space: nowrap;
	font-size: .928571429em;
	/*border: 1px solid #ddd;*/
	background: #f1f1f1;
	padding: 2px;
	font-family: Monaco, Courier, monospace;
}

article h2 {
	font-size: 1.2em;
	line-height: 1.5;
	margin-bottom: 5px;
	font-weight: bold;
	color: #333;
}

article ul {
	list-style-type: disc;
	padding-left: 16px;
}
article ul li {
	line-height: 1.5em;
}

/* ---------------------------------------------------------------------------------------
   Header
   --------------------------------------------------------------------------------------- */

header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1024;
	box-shadow: 0 9px 25px #fff;
	padding: 20px 0;
	background-size: 100%;
}
header .left {
	float: left;
	width: 65%;
}
header h1 {
	font-weight: normal;
	font-size: 2.5em;
}
header h2 {
	margin-top: 13px;
	font-size: 1em;
	line-height: 1.5em;
}
header p.right {
	float: right;
	margin-top: 17px;
	font-weight: bold;
	clear: right;
}
header p.right a {
	font-weight: normal;
	line-height: 1;
}
header p .link-button {
	margin-left: 10px;
}

/* ---------------------------------------------------------------------------------------
   Footer
   --------------------------------------------------------------------------------------- */

footer {
	position: fixed;
	bottom: 0;
	box-shadow: 0 -9px 25px #fff;
	margin-top: 20px;
	width: 100%;
	background: #fff;
	border-top: 1px solid #ddd;
	padding: 12px 0;
}

body.typing footer {
	display: none;
}

footer .new-post, footer .login {
	display: none;
}

footer .middle {
	position: relative;
	height: 20px;
}

footer .about-us {
	z-index: 50;
	position: absolute;
	left: 0;
	vertical-align: middle;
}

footer .new-post {
	vertical-align: middle;
	text-align: center;
	width: 100%;
	position: absolute;
}

footer p.new-post a {
	color: #95001a;
	font-weight: bold;
}

footer .login {
	vertical-align: middle;
	position: absolute;
	right: 0;
}

/* ---------------------------------------------------------------------------------------
   Categories List
   --------------------------------------------------------------------------------------- */

.categories-list {
	position: fixed;
	float: left;
	width: 133px;
	border: 1px solid #ddd;
}

.categories-list ul {
	width: 100%;
}

.categories-list ul li {
	width: 72.1%;
	padding: 9% 14%;
	border-bottom: 1px solid #ddd;
}
.categories-list ul a:last-child li, .categories-list ul > li:last-child {
	border-bottom: 0;
}
.categories-list li.current {
	color: #1b1b1b;
	background: #f1f1f1;
	font-weight: bold;
}
.categories-list ul a:hover li {
	background: #f1f1f1;
}
.categories-list ul a li {
	color: #95001a;
}

/* ---------------------------------------------------------------------------------------
   Posts List
   --------------------------------------------------------------------------------------- */

.posts-list {
	width: 77%;
	float: right;
}

li.post {
	margin-bottom: 13px;
	padding-top: 13px;
	border-top: 1px solid #ddd;
	line-height: 1.7em;
}
ol li.post:first-child {
	border-top: none;
	padding-top: 0;
}

li.post time {
	float: left;
	display: block;
	width: 50px;
}
li.post p.title {
	padding-left: 50px;
	font-weight: bold;
	color: #1b1b1b;
	width: 75%;
}
time, li.post a:visited p.title, label {
	color: #696969;
}

li.post a:visited time {
	color: #8f8f8f;
}

li.post a.category-link {
	display: block;
	float: right;
	color: #95001a;
}

#more_posts_marker {
	text-align: center;
	font-style: italic;
}

/* ---------------------------------------------------------------------------------------
   Post View
   --------------------------------------------------------------------------------------- */

article.post a.post-category {
	float: left;
	display: block;
	margin-right: 6px;
	border: 1px solid #ddd;
	background: #f1f1f1;
	color: #95001a;
	padding: 7px;
}

article p, article ul {
	margin-bottom: 14px;
}
article.post p.post-time {
	float: right;
	margin-top: 3px;
	margin-bottom: 2px;
}


/* ---------------------------------------------------------------------------------------
   Forms
   --------------------------------------------------------------------------------------- */

form {
	margin-bottom: 20px;
}

form p {
	padding: 5px 0;
	line-height: 1em;
}

.group > form.leftForm {
	float: left;
	width: 62%;
}
.side_text {
	width: 35%;
	float: right;
	margin-bottom: 10px;
}
.side_text p, .confirm-signup-text {
	margin-bottom: 10px;
}

.static-form-box {
	display: block;
	font-size: .875em;
	float: right;
	width: 70%;
	padding: 1.5%;
	height: 16px;
	border: 1px solid #d0f3d5;
	background: #eafbed;
}

label.category {
	margin-top: 0;
}

input[type=text], input[type=email], input[type=password], textarea {
	width: 70%;
	height: 16px;
	padding: 1.5%;
}

input[type=text], input[type=email], input[type=password], textarea, select {
	float: right;
	border: 1px solid #ddd;
	background-color: #f3f3f3;
	color: #1b1b1b;
	border-radius: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
}
input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, textarea:focus, select:focus {
	background-color: #fcfcfc;
}

select {
	width: 73.5%;
	padding: 1.2% 1.5% 1.8% 1.5%;
	height: 29px;
	cursor: pointer;
	background: #f3f3f3 none no-repeat;

	background-image: url("data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAaCAYAAACkVDyJAAAAlElEQVRIx+2VwQ3AIAhFwTiFi7KC7uYGHo1z0Et7MWkjaEiaQOJBDzy/wgdqrXwHWKyAiGAZDnSgHBhC+IfCUgqbKXxgGqhY4QyRQkUK35KLoK01iZd+xZKXRuEfbvdQPPGkAABEhMeLhohE5yfaAufk93791r13zQDmnLNqcOMYg1NKmoJgTRHtmDeaWZvPQweaAi8PXSmZJU3QRAAAAABJRU5ErkJggg==");
    background-position: -50px -50px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  /* for Webkit */
  select {
    background-position: right center;
    padding: 3px 32px 3px 5px;
  }
}
@-moz-document url-prefix() {
  /* for Firefox */
  select {
    text-indent: 0.01px;
    text-overflow: "";
    background-position: right center;
  }
}

textarea {
	height: 150px;
	resize: vertical;
	line-height: 1.5em;
}
input[type=submit] {
	float: right;
	border: none;
	color: #fff;
	background: #01256e;
	padding: 8px 12px;
	font-size: 1em;
	border-radius: 0;
	cursor: pointer;
	margin-top: 5px;
	-webkit-appearance: none;
	-moz-appearance: none;
}

input.title {
	font-weight: bold;
	font-size: 1em;
}

label {
	padding-top: 1.5%;
	margin-top: 1px;
	text-align: right;
	float: left;
	width: 25%;
	clear: both;
}

form p.error:before {
	color: #de0000;
	height: 14px;
	font-size: .875em;
	margin-bottom: 5px;
	width: 72.8285714%;
	float: right;
	text-align: center;
}
form p.error input, form p.error textarea {
	border: 1px solid #de0000;
}

form.contactForm p.error:before {
	width: 100%;
	float: none;
}

/* ---------------------------------------------------------------------------------------
   Form Errors
   --------------------------------------------------------------------------------------- */

form p.error.email:before {
	content: "Please enter a valid University email.";
}
form p.error.title:before {
	content: "Please enter a title.";
}
form p.error.text:before {
	content: "Please enter some text.";
}

/* ---------------------------------------------------------------------------------------
   Contact Form
   --------------------------------------------------------------------------------------- */

.contact-form-explanation {
	padding-top: 15px;
	border-top: 1px solid #b9b9b9;
	margin-bottom: 10px;
}
.successful-email {
	color: #009f0f;
}

#additional-post-ui form.contactForm textarea {
	width: 97%;
}
#additional-post-ui form.contactForm label {
	width: 13.5%;
}
#additional-post-ui form.contactForm input[type=email], #additional-post-ui form.contactForm .static-form-box {
	width: 82.5%;
}

/* ---------------------------------------------------------------------------------------
   School colors
   --------------------------------------------------------------------------------------- */

/* 
	PENN:
	Red: #95001a
	Blue: #01256e
	Off-white: #f1f1f1	*/
.penn header {
	background-color: #01256e;
	background-image: url(../images/franklin.jpg);
	background-position: 120% 25%;
	background-size: 90%;
	background-repeat: no-repeat;
}

/* 	http://www.flickr.com/photos/tncowart/3211751732/sizes/l/
	http://www.flickr.com/photos/reizzil/2860704206/ */

.penn header h1 {
	color: #f1f1f1;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.penn header h2 {
	color: #f1f1f1;
}
.penn header a:hover h1, .penn header a:hover h2 {
	color: #fff;
}
body.penn {
	background: #f9fbff;
}
.penn .link-button {
	background: #95001a;
}
.penn p a, .penn article a {
	color: #01256e;
}
.penn p a:hover, .penn article a:hover {
	color: #3e74e2;
}
.penn header p {
	color: #f1f1f1;
}
.penn header p a.login-out {
	color: #e5f8ff;
}

/* 
	BROWN:
	Brown: #54301a
	Red: #CC0000
	Off-white: #fffdfa	*/
.brown header {
	background: #54301a;
}
.brown header h1 a {
	color: #fffdfa;
	font-family: "Minion Pro", Georgia, "Times New Roman", Times, serif;
	text-transform: uppercase;
}
body.brown {
	background: #fffaf5;
}
.brown .link-button {
	background: #CC0000;
}

/* ---------------------------------------------------------------------------------------
   Reusable
   --------------------------------------------------------------------------------------- */

.half-form-title {
	padding-left: 16.2%;
}

.full-form-title {
	padding-left: 27%;
}


html body a.link-button {
	display: inline-block;
	font-weight: bold;
	color: #fff;
	padding: 10px;
}
html body a.link-button:hover {
	color: #ddd;
}

.text-right {
	text-align: right;
}

/* ---------------------------------------------------------------------------------------
   Etc.
   --------------------------------------------------------------------------------------- */

.group:before, .group:after {
	content: "\0020";
	display: block;
	height: 0;
	overflow: hidden;
}
.group:after { clear: both; }
.group { zoom: 1; }
img, object, embed {
	max-width: 100%;
}

@media screen and (max-width: 875px) {
	.middle {
		width: 80%;
	}

	header .left {
		float: left;
		width: 50%;
	}
	.penn header {
		background-size: 115%;
		background-position: center 25%;
	}

	.categories-list {
		position: static;
		width: 100%;
		float: none;
		margin-bottom: 20px;
	}
	.categories-list ul li {
		width: 90%;
		padding: 5%;
	}
	.posts-list {
		width: 100%;
		float: none;
	}
}

@media screen and (max-width: 600px) {
	header {
		position: static;
	}

	body {
		padding-top: 0;
	}

	header .left {
		float: none;
		text-align: center;
		width: 100%;
		margin-bottom: 0;
	}
	header h1 {
		font-size: 2em;
		text-align: center;
	}
	header .left h2 {
		padding: 0 10%;
	}
	header p.right {
		display: none;
	}

	footer .new-post, footer .login {
		display: block;
	}

	.full-form-title {
		padding-left: 0;
	}
	.half-form-title {
		padding-left: 0;
	}

	article.post a.post-category {
		float: none;
		display: inline-block;
		margin-bottom: 10px;
	}

	.group > form.leftForm {
		float: none;
		width: 100%;
	}
	.side_text {
		width: 100%;
		float: none;
	}

	form label, #additional-post-ui form.contactForm label {
		float: none;
		text-align: left;
		margin-bottom: 6px;
		margin-top: 0;
		width: 100%;
		display: block;
	}

	input[type=text], input[type=email], #additional-post-ui form.contactForm input[type=email], #additional-post-ui .static-form-box, input[type=password], .static-form-box, textarea {
		width: 95%;
		padding: 2.5%;
		float: none;
	}

	select {
		width: 100%;
		float: none;
	}

	form p.error:before {
		width: 100%;
		float: none;
		text-align: center;
	}
}