/*
Title: Screen Styles
Author: max@luzuriaga.com
*/

/* ---------------------------------------------------------------------------------------
   Reset
   --------------------------------------------------------------------------------------- */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; font: inherit; vertical-align: baseline; text-decoration: none; }
:focus { outline: 0; }
body { line-height: 1; color: black; background: white; }
nav ul { list-style: none; }
ul { list-style-type: square; }
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }
blockquote:before, q:before, { content: '"'; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }
html { -webkit-font-smoothing: antialiased; }
pre { white-space: pre; white-space: pre-wrap; white-space: pre-line; word-wrap: break-word; }
input, select { vertical-align: middle; }
textarea { overflow: auto; }
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
button, input, select, textarea { margin: 0; }
time { display: block; }

/* ---------------------------------------------------------------------------------------
   Main
   --------------------------------------------------------------------------------------- */

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 0.875em;
	background-color: #fcfcfc;
	color: #1b1b1b;
}
a {
	text-decoration: none;
}

#main {
	padding-top: 20px;
}

#main h1 {
	font-weight: bold;
	font-size: 1.5em;
	margin-bottom: 10px;
}
#main p {
	line-height: 1.5em;
}
#main p em {
	font-weight: bold;
}

.new-post-title {
	padding-left: 16.74%;
}

input[type=text], input[type=email], textarea {
	border: 0;
	float: right;
	width: 70%;
	padding: 1.5%;
	background: #e7e7e7;
	color: #1b1b1b;
}
input[type=text]:focus, input[type=email]:focus, textarea:focus {
	background: #f6f6f6;
}
label {
	margin-top: 1.5%;
	text-align: right;
	float: left;
	width: 25%;
	clear: both;
}
textarea {
	height: 150px;
	resize: vertical;
	line-height: 1.5em;
}
input[type=submit] {
	float: right;
	border: none;
	color: #fcfcfc;
	background: #004b90;
	padding: 8px 12px;
	font-size: 1em;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	cursor: pointer;
	margin-top: 5px;
}

input.title {
	font-weight: bold;
	font-size: 1em;
}

form p.error {
	background: #ff9999;
}
form p.error:before {
	height: 14px;
	font-size: .875em;
	margin-bottom: 5px;
	width: 72.8285714%;
	float: right;
	text-align: center;
}

form p.error.email:before {
	content: "Please enter a valid @penn.edu address.";
}
form p.error.title:before {
	content: "Please enter a title.";
}
form p.error.text:before {
	content: "Please enter some text";
}

#main form p {
	/*margin-bottom: 10px;*/
	padding: 5px;
	line-height: 1em;
}

header {
	padding: 20px 0;
}
header h1 {
	font-size: 3em;
}

.middle {
	width: 700px;
	margin: 0 auto;
}

#main ol {
	list-style-type: none;
}

a li.post {
	margin-bottom: 13px;
	padding-top: 13px;
	border-top: 1px solid #b9b9b9;
	line-height: 1.7em;
}
ol a:first-child li.post {
	border-top: none;
	padding-top: 0;
}

li.post time {
	float: left;
	display: block;
	width: 50px;
	height: 100%;
	color: #696969;
}
li.post p.title {
	font-weight: bold;
	color: #1b1b1b;
}
a:visited li.post p.title, label {
	color: #696969;
}
a:visited li.post time {
	color: #8f8f8f;
}

.group > form.postForm {
	float: left;
	width: 62%;
}
.side_text {
	width: 35%;
	float: right;
	margin-bottom: 10px;
}

/* ---------------------------------------------------------------------------------------
   School colors
   --------------------------------------------------------------------------------------- */

/* 
	PENN:
	Red: #95001a
	Blue: #01256e
	Off-white: #f1f1f1	*/
.penn header {
	background: #01256e;
}
.penn header h1 {
	color: #f1f1f1;
	font-family: Georgia, "Times New Roman", Times, serif;
}
body.penn {
	background: #eff4ff;
}

/* 
	BROWN:
	Brown: #54301a
	Red: #CC0000
	Off-white: #fffdfa	*/
.brown header {
	background: #54301a;
}
.brown header h1 {
	color: #fffdfa;
	font-family: "Minion Pro", Georgia, "Times New Roman", Times, serif;
	text-transform: uppercase;
}
body.brown {
	background: #fff4e9;
}

/* ---------------------------------------------------------------------------------------
   Etc.
   --------------------------------------------------------------------------------------- */
   
.group:before, .group:after {
	content: "\0020";
	display: block;
	height: 0;
	overflow: hidden;
}
.group:after { clear: both; }
.group { zoom: 1; }
img, object, embed {
	max-width: 100%;
}

@media screen and (max-width: 1000px) {
	.middle {
		/*width: 65%;*/
		/*background: green;*/
	}
}

@media screen and (max-width: 875px) {
	.middle {
		width: 80%;
	}
}

@media screen and (max-width: 500px) {
	.group > form.postForm {
		float: none;
		width: 100%;
	}
	.side_text {
		width: 100%;
		float: none;
	}

	input[type=text], input[type=email], textarea {
		width: 77%;
		padding: 2.5%;
	}
	label {
		margin-top: 2.5%;
		width: 15%;
	}

	.new-post-title {
		padding-left: 0%;
	}
	form p.error:before {
		width: 100%;
		float: none;
		text-align: center;
	}
}