<% var title = "Confirn your account" %> 
<% include ../layouts/head %>

<h1>Almost done...</h1>

<p>In order to confirm your account and that you really go to Penn, we've sent an email to <strong><%= user.email %></strong>.</p>

<% include ../layouts/foot %>