<% var title = "About PennGems" %> 
<% include ../layouts/head %>

<article>
	<h1>About</h1>

	<p>PennGems is a site for Penn students to buy, sell, trade, and share items, ideas, groups, and events. Think of it as an online version of Locust Walk.</p>

	<p>With your Penn email address you can <a href="/new">start making posts right away</a>, no signup required.</p>

	<p>The header image was taken by <a href="http://www.flickr.com/photos/tncowart/3211751732/">Thomas Cowart</a> and is licensed under the <a href="http://creativecommons.org/licenses/by/2.0/">Creative Commons Attribution 2.0</a> license.</p>

	<h2>Founders</h2>

	<ul>
		<li><a href="https://www.facebook.com/fogel.ben?fref=ts">Ben Fogel</a> is a Penn student majoring in History and Psychology.</li>
		<li><a href="https://www.facebook.com/maxluzuriaga">Max Luzuriaga</a> is a Brown student majoring in Computer Science.</li>
		<li><a href="https://www.facebook.com/oneisimpossibletwoisdreary">Grant Schiller</a> is a Penn student majoring in Economics.</li>
	</ul>

	<h2>Contact</h2>

	<p>Send us any ideas, concerns, or other inquiries at <a href="mailto:penngems@gmail.com">penngems@gmail.com</a>, and we’ll get back to you promptly.</p>

	<p>If you are having any problems with PennGems, please let us know! We are very grateful for any feedback that we receive.<p>
</article>

<% include ../layouts/foot %>