<% var title = "New post" %> 
<% include ../layouts/head %>

<h1 class="new-post-title">Create a new post:</h1>

<div class="group">
<p class="side_text">Posts are formatted with Markdown. TODO: add more to this explanation.</p>
<% include _post_form %>
</div>

<% include ../layouts/foot %>