<% var title = "Confirmed post!" %> 
<% include ../layouts/head %>

<div class="half-form-title">
	<h1>Post confirmed! Want to make an account?</h1>
	<p class="confirm-signup-text">If you make an account now, you won't have to confirm future posts.</p>
</div>

<div class="group">
	<form action="/users/create" method="post" class="leftForm group">
		<p class="group email confirmed-field">
			<label for="email">Email:</label>
			<span class="static-form-box"><%= email %></span>
		</p>
		<p class="group password">
			<label for="password" class="password">Password:</label>
			<input type="password" name="password" class="password" />
		</p>
		<input type="submit" value="Create Account" />
	</form>
	<div class="side_text">
		<p><a class="link-button" href="<%= post.url() %>">No thanks, take me to my post</a></p>
	</div>
</div>

<% include ../layouts/foot %>