<% var title = "Post created" %> 
<% include ../layouts/head %>

<h1>Almost done...</h1>

<p>In order to confirm that you really go to Penn, we've sent an email to <strong><%= post.email %></strong>.</p>

<% include ../layouts/foot %>