<% var title = "Title test" %> 
<% include ../layouts/head %>

<ol>
	<a href="#"><li class="post group">
		<time>Jan 5</time>
		<p class="title">This is the title of a post</p>
	</li></a>
	<a href="#"><li class="post group">
		<time>Jan 5</time>
		<p class="title">This is the long title of a super-long post. And here are some more details no one would ever put in the title but hey I need a long line to test.</p>
	</li></a>
	<a href="#"><li class="post group">
		<time>Jan 5</time>
		<p class="title">This is the title of a post</p>
	</li></a>
	<a href="#"><li class="post group">
		<time>Jan 5</time>
		<p class="title">This is the title of a post</p>
	</li></a>
	<a href="#"><li class="post group">
		<time>Jan 4</time>
		<p class="title">This is the title of a post</p>
	</li></a>
	<a href="#"><li class="post group">
		<time>Jan 4</time>
		<p class="title">This is the title of a post</p>
	</li></a>
	<a href="#"><li class="post group">
		<time>Jan 3</time>
		<p class="title">This is the title of a post</p>
	</li></a>
	<a href="#"><li class="post group">
		<time>Jan 3</time>
		<p class="title">This is the title of a post</p>
	</li></a>
	<a href="#"><li class="post group">
		<time>Jan 3</time>
		<p class="title">This is the title of a post</p>
	</li></a>
	<a href="#"><li class="post group">
		<time>Jan 3</time>
		<p class="title">This is the title of a post</p>
	</li></a>
	<a href="#"><li class="post group">
		<time>Jan 2</time>
		<p class="title">This is the title of a post</p>
	</li></a>
	<a href="#"><li class="post group">
		<time>Jan 2</time>
		<p class="title">This is the title of a post</p>
	</li></a>
</ol>

<% include ../layouts/foot %>