<% var title = "QuadShare" %> 
<% include ../layouts/head %>

<div class="categories-list">
	<ul>
		<% categories = categories.map(function(cat) {
			return cat.slug == "misc" ? null : [cat.name, cat.slug];
		});
		categories.splice(0, 0, ["All posts", ""]);
		categories.push(["Misc.", "misc"]); %>
		
		<% categories.forEach(function(cat) { %>
			<% if (cat) { %>
				<% if (cat[1] == category) { %>
					<li class="current"><%= cat[0] %></li>
				<% } else { %>
					<li><a href="/<%= cat[1] %>"><%= cat[0] %></a></li>
				<% } %>
			<% } %>
		<%}) %>
	</ul>
</div>

<div class="posts-list">
	<ol>
		<% posts.forEach(function(post) { %>
			<% include _post %>
		<% }); %>
	</ol>

	<% if (morePosts) { %>
		<div id="more_posts_marker"><p>More posts...</p></div>
	<% } %>
</div>

<script type="text/javascript">
	var category = "<%= category %>";
</script>

<% include ../layouts/foot %>