<% var title = "Ivylist" %> 
<% include ../layouts/head %>

<ol>
	<% posts.forEach(function(post) { %>
		<a href="/posts/<%= post.id %>"><li class="post group">
			<time><%= post.prettyDate() %></time>
			<p class="title"><%= post.title %></p>
		</li></a>
	<% }); %>
</ol>

<% include ../layouts/foot %>