<% var title = "QuadShare" %> 
<% include ../layouts/head %>

<div class="categories-list">
	<ul>
		<li class="current">All posts</li>
		<li><a href="#">Textbooks</a></li>
		<li><a href="#">Sex</a></li>
		<li><a href="#">Category</a></li>
	</ul>
</div>

<div class="posts-list">
	<ol>
		<% posts.forEach(function(post) { %>
			<% include _post %>
		<% }); %>
	</ol>

	<% if (morePosts) { %>
		<div id="more_posts_marker"><p>More posts...</p></div>
	<% } %>
</div>

<% include ../layouts/foot %>