<% var title = post.title %> 
<% include ../layouts/head %>

<article class="post">
	<p class="post-time"><time><%= post.prettyDate("h:MM mmm d, yyyy") %></time></p>
	<h1><%= post.title %></h1>
	<%- post.text_formatted %>
</article>

<div id="additional-post-ui">
	<p class="contact_link"><a href="<%= post.url() %>/contact" class="link-button ajax">Contact this poster</a></p>
</div>

<% include ../layouts/foot %>