</div>

<footer>
	<div class="middle">
		<p class="about-us"><a href="/about">About us</a></p>
		<p class="new-post"><a href="/new">New Post</a></p>
		<p class="login"><a href="/login">Login</a></p>
	</div>
</footer>

<script type="text/javascript" src="/javascripts/lib/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="/javascripts/lib/jquery.elastic.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/javascripts/application.js"></script>
<% if (jsURL) { %>
	<script type="text/javascript" src="/javascripts/<%= jsURL %>.js"></script>
<% } %>

</body>
</html>