</div>

<footer>
	<div class="middle">
		<p class="about-us"><a href="/about">About</a></p>
		<p class="new-post"><a href="/new">New Post</a></p>
		<p class="login">
			<% if (currentUser) { %>
				<a href="/logout?x=<%= Math.floor((Math.random()*100)+1) %>" class="login-out">Logout</a>
			<% } else { %>
				<a href="/login?x=<%= Math.floor((Math.random()*100)+1) %>" class="login-out">Login</a>
			<% } %>
		</p>
	</div>
</footer>

<script type="text/javascript" src="/javascripts/lib/jquery-2.1.0.min.js"></script>
<script type="text/javascript" src="/javascripts/lib/jquery.elastic.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/javascripts/application.js"></script>
<% if (jsURL) { %>
	<script type="text/javascript" src="/javascripts/<%= jsURL %>.js"></script>
<% } %>

</body>
</html>